@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: #00B4D8;
    color: #ffffff;
  }

  body {
    @apply font-dm text-navy bg-surface;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
